* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Iosevka Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

/* ocean */
window#waybar {
  background-color: rgba(43, 48, 59, 0.95);
  color: #eff1f5;
}

#workspaces {
  margin-left: 20px;
}

#workspaces button {
  color: #eff1f5;
}

#workspaces button.active {
  color: #b48ead;
}

#workspaces button.urgent {
  color: #bf616a;
}

#clock {
  margin-right: 24px;
}

/* gruvbox light soft */
/*
window#waybar {
    background-color: rgba(242, 229, 188, 0.95);
    color: #504945;
}
 
#workspaces {
    margin-left: 20px;
}

#workspaces button {
    color: #eff1f5;
}

#workspaces button.active {
    color: #b48ead;
}

#workspaces button.urgent {
    color: #bf616a;
}

#clock {
	margin-right: 24px;
}
*/
